{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - New Page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('editor') }}
{% endblock %}

{% block body %}
    <a class="btn btn-outline-secondary float-end" href="{{ path('page_index') }}">back to list</a>

    <h1>Create new Page</h1>

    {{ include('page/_form.html.twig') }}

{% endblock %}
